.App {
  text-align: center;
}

.main__div,
.quiz__div,
.final__div {
  background-color: rgb(25, 72, 115);
  width: 500px;
  min-height: 250px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  border-radius: 3px;
}

.main__div h1 {
  color: #fff;
}

.main__div button {
  padding: 20px;
  color: #fff;
  background-color: rgb(7, 20, 31);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz__div p.soru {
  color: #fff;
  font-size: 18px;

}

.quiz__div .cevaplar {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;

  width: 85%;
}


.quiz__div .cevaplar button,
.sonrakiSoru,
.restartGame {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 90%;
  cursor: pointer;
}

.sonrakiSoru,
  {
  max-width: 76%;
  margin-bottom: 50px;

}

p.sonuc {
  color: #fff;
  font-size: 24px;
  ;
}

.restartGame {
  max-width: 76%;
  margin-bottom: 50px;
  background-color: rgb(7, 20, 31);
  color: #fff;
  outline: none;
  border: none;
  font-size: 18px;

}